<%= render :partial => 'dashboard/actions', locals: {project: @project, milestone: @milestone} %>
<br/>

<div class="row">
  <%= render :partial => 'milestones/burndown', :locals => {:milestone => @milestone} %>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render :partial => 'dashboard/story_column', :locals => {:title => @milestone.try(:title) || 'Backlog',
                                                                 :stories => @stories} %>
  </div>
  <div class="col-md-3" id="dashboard_resources">
    <% if @milestone %>
        <%= render :partial => 'milestones/dashboard', :locals => {milestone: @milestone} %>
    <% end %>
  </div>
</div>