<h3><%= title %></h3>

<div class="panel-group story_column" sortable-stories="true">
  <% stories.each do |story| %>
      <% cache story do %>
          <%= render :partial => 'stories/partials/view', :locals => {:story => story} %>
      <% end %>
  <% end %>
</div>