<h3><%= title %></h3>

<div class="panel-group story_column" sortable-stories="true">
  <% stories.each do |story| %>
      <%= render :partial => 'stories/partials/view', :locals => {:story => story} %>
  <% end %>
</div>