<div id="burndown_chart_wrapper">
  <% if milestone %>
      <% cache [:burndown_chart, milestone] do %>
          <div id="burndown_chart"></div>
          <%= raw milestone.burn_down_chart.render_chart("burndown_chart") %>
      <% end %>
  <% end %>
</div>