<% changes = story.version_changes(field: [:title, :assigned_to_id, :workflow_status_id]) %>
<% if changes.count > 0 %>
    <ul>
      <% changes.each do |change| %>
          <% cache [:view, change] do %>
              <li>
                <%= render :partial => "histories/done_by_badge", locals: {change: change} %>
                <%= change.readable_message %>
              </li>
          <% end %>
      <% end %>
    </ul>
<% else %>
    <ul>
      <li>Nothing in the past</li>
    </ul>
<% end %>