<% comments_container do %>
	<% comments_header do %>
		Comments
		<span class="comment_count badge pull-right"><%= resource.comments.count %></span>
	<% end %>
	<% comments_content do %>
		<hr/>
		<ol id="<%= container_id_of_comments_for(resource) %>">
		<% resource.comments.each do |comment| %>
			<%= render :partial => 'comments/view', :locals => {:comment => comment} %>
		<% end %>
		</ol>
        <%= link_to('New Comment', 'javascript:void(0)', :class => 'btn btn-primary btn-xs', :'data-story-id' => resource.id,
                    :'render-template' => 'new-comment-template', :'append-after' => "##{container_id_of_comments_for(resource)}") %>
	<% end %>
<% end %>