<h1>Editing task</h1>

<%= render :partial => 'tasks/partials/form', :locals => {:task => @task} %>

<%= link_to 'Show', story_task_path(@story, @task) %> |
<%= link_to 'Back', story_tasks_path(@story) %>
