<div class="date">
  <div class="month">
    <%= date.strftime("%b") %> ´<%= date.strftime("%y") %>
  </div>
  <div class="day"><%= date.strftime("%d") %>
    <sup>th</sup></div>
  <hr/>
  <div class="time"><%= date.strftime("%I:M %p") %></div>
</div>