<span class="badge">
  <font data-toggle="tooltip" title="Hours spent"><%= spent || 'n/a' %></font>
&nbsp;/&nbsp;
  <font data-toggle="tooltip" title="Hours estimated"><%= estimated || 'n/a' %></font>
</span>