<% content_for :title do %>
    <h2><%= @project.name %></h2>
<% end %>

<%= render 'form' %>
<br/>

<table id='users' class="table">
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>role</th>
    <th></th>
  </tr>

  <%= render :partial => 'row', :collection => @project_memberships, :as => :membership %>
</table>