<% content_for :title do %>
    <h2><%= @project.name %></h2>
<% end %>

<%= render 'form' %>
<br/>

<table id='users' class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>groups</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'row', :collection => @project_memberships, :as => :membership %>
  </tbody>
</table>