<% changes = VersionChange.for(field: :assigned_to_id, type: Task, id: task.id, events: [:update]).all %>
<% if changes.count > 0 %>
    <ul>
      <% changes.each do |change| %>
          <li>
            <% if change.field == 'assigned_to_id' %>
                <%= link_to_user_with_avatar(change.version.done_by_id, size: 15) %> Assigned
                from <%= link_to_user_with_avatar(change.was, size: 15) %>
                to <%= link_to_user_with_avatar(change.now, size: 15) %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>