<div class="tasks">
  <% tasks.each do |task| %>
      <%= render :partial => 'tasks/partials/view', :locals => {:task => task} %>
  <% end %>
</div>
<br>
<%= link_to('New Task', 'javascript:void(0)', :class => 'btn btn-primary btn-xs', :'data-story-id' => story.id,
            :'render-template' => 'new-task-template', :'append-after' => "##{container_id_of_tasks_for(story)} .tasks") unless story.sealed_for_tasks? %>