<div class="tasks">
	<% tasks.each do |task| %>
		<%= render :partial => 'tasks/partials/view', :locals => {:task => task} %>
	<% end %>
</div>
<br>
<%= link_to('New Task', new_story_task_path(story), :class => 'btn btn-primary',
	:remote => true, :'data-disable-with' => "Loading...",
	:style => 'margin: 0px 0px 10px 0px;') unless story.sealed_for_tasks? %>