.accept.btn {
    background: #91bd09 !important;
    border: 1px solid #384216 !important;
}

.accept.btn:hover {
    background: #749a02 !important;
    border: 1px solid #384216 !important;
}

.reject.btn {
    background: #DC3737 !important;
    border: 1px solid #6C1C1C !important;
}

.reject.btn:hover {
    background: #cf2525 !important;
    border: 1px solid #6C1C1C !important;
}

.finish.btn {
    color: #FFFFFF;
    background: #336996 !important;
    border: 1px solid #1D415F !important;
}

.finish.btn:hover {
    background: #2575cf !important;
    border: 1px solid #1D415F !important;
}

.start.btn {
    background: #e8a344 !important;
    border: 1px solid #5F431D !important;
}

.start.btn:hover {
    color: #FFFFFF !important;
    background: #fc9200 !important;
    border: 1px solid #5F431D !important;
}

.reopen.btn {
    background: #91bd09 !important;
    border: 1px solid #384216 !important;
}

.reopen.btn:hover {
    background: #749a02 !important;
    border: 1px solid #384216 !important;
}