@import "custom_bootstrap/custom_bootstrap.less";

.task {
  .task_header {
    background-color: @table-bg-active;
    padding: 5px;
  }
  .task_container {
    background-color: @table-bg-accent;
    padding: 5px;
  }
  .task-actions {
    margin-right: 5px;
    form input[type="submit"] {
      margin-left: 5px;
    }
  }

  .progress {
    height: 10px;
    margin: 7px 0px 0px 0px;
  }
}

.tasks-wrapper {
  margin-top: 25px;
  .well();
  position: relative;
  .header {
    .badge();
    position: absolute;
    top: -29px;
    left: 6px;
  }
}