<footer> <!-- Marking the footer section -->
  <div class="line"></div>
  <p>An open source project planner</p>
  <a href="https://github.com/ashrafuzzaman/stubbles" class="by">
    Stubble
  </a>
  <a href="http://www.ashrafuzzaman.com" class="up">About me</a>
</footer>